$primary-color: rgb(72, 61, 84);

.ul {
  display:flex ;
  background-color: $primary-color;
  padding: 8px;
  list-style-type: none;
  justify-content: space-around;
  color: white;
  height: 50px;
  align-items: center;
}

.footer {
  display: block;
  margin-top: 50px;
  width: 100%;
  background-color: $primary-color;
  color: white;
  text-align: center;
}

.heroSection {
  width: 80%;
  margin: auto;
  text-align: center;
}

.heroSection .progress_text {
  font-size: 24px;
  margin-top: 30px;
  color: $primary-color;
}

.citateDiv {
  width: fit-content;
  padding: 10px;
  margin: auto;
}

.heroSection .citate {
  font-style: italic;
  margin-top: 40px;
}

.heroSection .author {
  margin-top: 12px;
  text-align: right;
}

.heroSection .divide_sections {
  width: 100%;
  height: 2px;
  background-color: $primary-color;
  margin: 40px 0;
}

.heroSection button {
  display: block;
  margin: auto;
  padding: 7px;
  border-radius: 8px;
  width: 40%;
  min-width: 250px;
  height: 40px;
  margin-top: 20px;
  background-color: $primary-color;
  color: white;
}

.heroSection button:hover {
   box-shadow: 0 0 4px $primary-color;
}